@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <form asp-action="AddEmployee" method="post">
        
        <label for="EmpName">Employee Name : </label>
        <input name="EmpName" type="text" /><br>
        <label for="EmpSalary">Employee Salary:</label>
        <input name="Empsalary" type="text" />
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
}
